<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8"></meta>
	<title>BLOG</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/main.js"></script>
</head>
<body>
	<div id="main">
		<div class="header"></div>
		<div class="nav">
			<ul>
				<li><a href="#">shouye</a></li>
				<li><a href="#">web</a></li>
				<li><a href="#">video</a></li>
				<li><a href="#">study</a></li>
				<li><a href="#">leave</a></li>
			</ul>
		</div>
		<div class="main">
			<form action="/sub/" method="get">
				<label for="1">name&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text" id="1" name="a"></input></br>
				<label for="2">male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text" id="2" name="b"></input></br>
				<label for="3">age&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text" id="3" name="c"></input></br>
				<label for="4">job&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text" id="4" name="d"></input></br>
				<input type="submit" value="submit" onclick="" class="sub"></input>
			</form>
		</div>
	</div>
</body>
</html>
